/* start of testimonials */
/* .img-testimonial {
    height: 50px;
    width: 50px !important;
    object-fit: contain;
    border-radius: 50%;
}

.quotes-testimonial {
    position: absolute;
    left: -10px;
} */

.testimonial-carousel.owl-carousel .owl-stage {
	display: flex;
}

@media only screen and (min-width: 1260px) {

  .testimonial-carousel.arrows-middle button.owl-prev {
    left: -3%;
  }

  .testimonial-carousel.arrows-middle button.owl-next {
    right: -3%;
  }
}

/* end of testimonials */