/* start of full width row */
.img-full-width-row-bg {
    opacity: 0;
    transition: all .25s ease-in-out;
}

@media screen and (min-width:767px) and (max-width:991px) {
    .col-full-width-row:last-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.col-full-width-row .col-full-width-row-border {
    width: 98%;
    height: 0%;
    overflow: hidden;
    top: 25%;
    left: 1%;
    transition: all .25s ease-in-out;
}

.col-full-width-row:hover .col-full-width-row-border {
    height: 50%;
    border: 2px solid white;
}

.col-full-width-row .col-full-width-row-background {
    width: 95%;
    height: 0%;
    overflow: hidden;
    top: 26%;
    left: 2.5%;
    /* border: 2px solid white; */
    background: #8bc3c9;
    mix-blend-mode: multiply;
    transition: all .25s ease-in-out;
    opacity: 0;
}

.col-full-width-row:hover .col-full-width-row-background {
    height: 48%;
    opacity: 1;
}

/* end of full width row */